<html lang="ru">

<head>
    <title>Новости</title>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>


<body>
<div class="header">
    <div class="header-content">

    </div>
</div>

<button class="button-back">На главную</button>

<div class="newsBlock">
    <div class="newsBlock-content">

    </div>
</div>

</body>
<script type="module" src="/public/javascripts/newsPage.js"></script>

</html>