<div>
    <h2>Войти</h2>
    <div class="text-field text-field_floating-2">
        <input class="text-field__input" type="email" id="email" [(ngModel)]="email" placeholder="Email"/>
        <label class="text-field__label" for="email">Email</label>
    </div>

    <div class="text-field text-field_floating-2">
        <input class="text-field__input" type="password" id="password" [(ngModel)]="password" placeholder="Пароль"/>
        <label class="text-field__label" for="password">Пароль</label>
    </div>
    <div class="submit-button">
        <button (click)="login()">Войти</button>
    </div>
</div>
